<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Home", suffix: " · HabitSheet" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="container mx-auto max-w-5xl min-h-screen flex flex-col flex-nowrap">
      <nav class="navbar bg-base-100">
        <h1 class="flex-grow">
          <%= link "HabitSheets", to: Routes.home_path(@conn, :index), class: "btn btn-ghost normal-case text-xl" %>
        </h1>
        <%= if @current_user do %>
          <div class="p-2"><%= @current_user.email %></div>
          <%= link "All Sheets", to: Routes.sheet_index_path(@conn, :index), class: "btn btn-ghost normal-case" %>
          <div><%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "btn btn-ghost normal-case" %></div>
          <div><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "btn btn-ghost normal-case" %></div>
        <% else %>
          <div><%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "btn btn-ghost normal-case" %></div>
          <div><%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "btn btn-ghost normal-case" %></div>
        <% end %>
      </nav>
      <main class="py-4 px-8 flex-grow self-start">
        <%= @inner_content %>
      </main>
      <footer class="flex flex-row flex-nowrap py-4 px-8 justify-center">
        Copyright 2023 Luke Turner -&nbsp;<a class="text-blue-500 underline" href="https://github.com/luketurner/habitsheets">Github</a>
      </footer>
    </div>
  </body>
</html>
