<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title suffix=" · HabitSheet">
      <%= assigns[:page_title] || "Home" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="container mx-auto max-w-5xl min-h-screen flex flex-col flex-nowrap">
      <nav class="navbar bg-base-100">
        <h1>
          <.link class="btn btn-ghost normal-case text-xl" href={Routes.home_path(@conn, :index)}>HabitSheets</.link>
        </h1>
        <div class="flex-grow p-2">
          <!-- subtitle -->
        </div>
        <%= if @current_user do %>
          <div class="p-2"><%= @current_user.email %></div>
          <.link class="btn btn-ghost normal-case" href={Routes.sheet_index_path(@conn, :index)}>All Sheets</.link>
          <.link class="btn btn-ghost normal-case" href={Routes.user_settings_path(@conn, :edit)}>Settings</.link>
          <.link class="btn btn-ghost normal-case" href={Routes.user_session_path(@conn, :delete)} method="delete">Log out</.link>
        <% else %>
          <.link class="btn btn-ghost normal-case" href={Routes.user_registration_path(@conn, :new)}>Register</.link>
          <.link class="btn btn-ghost normal-case" href={Routes.user_session_path(@conn, :new)}>Log in</.link>
        <% end %>
      </nav>
      <main class="py-4 px-8 flex-grow self-start w-full">
        <%= @inner_content %>
      </main>
      <footer class="footer footer-center p-4">
        <div>
          <p>Copyright 2023 Luke Turner -&nbsp;<.link class="text-blue-500 underline" href="https://github.com/luketurner/habitsheets">Github</.link></p>
        </div>
      </footer>
    </div>
  </body>
</html>
