<div class="w-full">
  <div class="hero min-h-64">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Warning</h1>
        <p class="py-6">HabitSheets is under active development. Accounts and user data may not be secure and may be wiped at any time.</p>
      </div>
    </div>
  </div>
</div>
