<div>
  <h2  class="text-lg font-bold pb-4"><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="sheet-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <%= label f, :title, class: "w-32 inline-block text-right p-2" %>
    <%= text_input f, :title %>
    <%= error_tag f, :title %>

    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
