<p>
Hi there with review <%= @review.id %>
</p>

<%= for habit <- @habits do %>
  <div>
  <%= habit.id %> - <%= habit.name %> - <%= habit.archived_at %>
  <%= if habit.entry do %>
    <%= habit.entry.date %> - <%= habit.entry.value %>
  <% end %>
  </div>
<% end %>
