<h1>New Habit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sheet_habit_path(@conn, :create, @sheet_id)) %>

<span><%= link "Back", to: Routes.sheet_habit_path(@conn, :index, @sheet_id) %></span>
