<h1>Show Habit</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @habit.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.sheet_habit_path(@conn, :edit, @sheet_id, @habit) %></span> |
<span><%= link "Back", to: Routes.sheet_path(@conn, :show, @sheet_id) %></span>
