<h1 class="text-xl font-bold pb-4">Forgot your password?</h1>

<.form let={f} for={:user} action={Routes.user_reset_password_path(@conn, :create)}>
  <%= label f, :email, class: "w-48 inline-block text-right p-4" %>
  <%= email_input f, :email, required: true %>

  <div class="w-48 p-4 text-right">
    <%= submit "Send reset email", class: "text-blue-500 underline" %>
  </div>
</.form>
