<h1 class="text-xl font-bold pb-4">Confirm account</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Confirm my account", class: "btn btn-primary" %>
  </div>
</.form>
