<h1 class="text-xl font-bold pb-4">Resend confirmation instructions</h1>

<.form :let={f} for={:user} action={Routes.user_confirmation_path(@conn, :create)}>

  <div class="form-control w-full max-w-xs">
    <%= label f, :email, class: "label label-text" %>
    <%= email_input f, :email, required: true, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="py-4">
    <%= submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
</.form>
