<div class="p-2 flex flex-row flex-nowrap items-end">
  <div class="w-64 pr-4 flex flex-row flex-nowrap justify-end items-center flex-grow-0 flex-shrink-0">
    <%= render_slot(@prev) %>
  </div>
  <%= for day <- @date_range do %>
    <div class="mx-2 w-16 text-center flex-grow-0 flex-shrink-0">
      <%= render_slot(@date, day) %>
    </div>
  <% end %>
  <div class="mx-2 w-16 flex-grow-0">
    <%= render_slot(@next) %>
  </div>
</div>
